build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    env1
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    env1
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |-
    #!/bin/sh

    env1
dockerCompose: ''
lastUpdatedBy: Rahul Goyal
lastUpdatedOn: 2023-03-23T08:08:19.893Z
