build:
  type: text
  content: '#!/bin/sh'
deploy:
  type: text
  content: |
    #/bin/sh

    kubectl apply -n $ROOST_NAMESPACE -f deployment.yml
    kubectl apply -n $ROOST_NAMESPACE -f load-balancer.yml
test: []
uninstall:
  type: text
  content: '#!/bin/sh'
dockerCompose: ''
lastUpdatedBy: Rahul Goyal
lastUpdatedOn: 2023-04-15T20:30:49.545Z
