build:
  type: text
  content: |-
    #!/bin/sh

    docker build -t todoapp:latest .
deploy:
  type: text
  content: |
    #/bin/sh

    kubectl apply -n $ROOST_NAMESPACE -f deployment.yml
    kubectl apply -n $ROOST_NAMESPACE -f load-balancer.yml
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Rahul Goyal
lastUpdatedOn: 2023-03-15T06:12:00.274Z
